---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
import Subtitle from "../components/Subtitle.astro";
const latestPosts = (await getCollection("blog"))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 3);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="bg-base-200 min-h-[calc(100vh-8rem)]">
        <div class="container mx-auto p-8 max-w-4xl">
            <Subtitle text="Sobre mí" />
            <h1 class="text-3xl font-bold mt-2">Bruno Costanzo</h1>
            <p class="mt-2 opacity-80">
                Escribo sobre Ruby, Rails y arquitectura de software.
            </p>

            <Subtitle text="Últimos artículos" class="mt-12" />
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-2">
                {
                    latestPosts.map((post) => (
                        <BlogPost
                            url={`/blog/${post.id}/`}
                            title={post.data.title}
                            description={post.data.description}
                            image={post.data.image.url}
                            tags={post.data.tags}
                            date={post.data.pubDate.toLocaleDateString(
                                "es-ES",
                                {
                                    day: "numeric",
                                    month: "short",
                                    year: "numeric",
                                },
                            )}
                        />
                    ))
                }
            </div>
        </div>
    </div>
</Layout>
